body {
    text-align: center;
    background-color: aqua;
}
#image2 {
    width: 400px;
    height: 400px;
}
#image3 {
    width: 450px;
    height: 400px;
}
#image4 {
    width: 900px;
    height: 500px;
}
.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}